<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org">
    
    <head>
        <meta charset="utf-8"/>
        <title>Abernathy Clinic - Patient View</title>
        <link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.0.0-2/css/bootstrap.min.css"/>
        <script type="text/javascript" src="webjars/bootstrap/4.0.0-2/js/bootstrap.min.js"></script>
    </head>
        
    <body>

        <div class="container">
            
            <h1>Abernathy Clinic - Patient View</h1>

            <div class="row">
                <div class="col-12">
                    <span th:text="${patient.id}"></span><br>
                    <span th:text="${patient.firstName}"></span><br>
                    <span th:text="${patient.lastName}"></span><br>
                    <span th:text="${patient.dateOfBirth}"></span><br>
                    <span th:text="${patient.address}"></span><br>
                    <span th:text="${patient.phone}"></span><br>
                </div>
            </div>

        </div>
    </body>
</html>