<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org">
    
    <head>
        <meta charset="utf-8"/>
        <title>Abernathy Clinic - Search</title>
        <link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.0.0-2/css/bootstrap.min.css"/>
        <script type="text/javascript" src="webjars/bootstrap/4.0.0-2/js/bootstrap.min.js"></script>
    </head>
        
    <body>

        <div class="container">
            
            <h1>Abernathy Clinic - Search Results</h1>

            <!-- Table of search results  -->
            <div class="row">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Date of Birth</th>
                            <th>Address</th>
                            <th>Phone Number</th>
                            <th>Edit</th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr th:each="patient : ${patients}">
                            <td th:text="${patient.id}"></td>
                            <td th:text="${patient.firstName}"></td>
                            <td th:text="${patient.lastName}"></td>
                            <td th:text="${patient.dateOfBirth}"></td>
                            <td th:text="${patient.address}"></td>
                            <td th:text="${patient.phone}"></td>
                            <td style="width: 15%" class="text-center">
                                <a>Edit</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </body>
</html>