<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org">
    
    <head>
        <meta charset="utf-8"/>
        <title>Abernathy Clinic - Add Note</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    </head>
        
    <body>

        <div class="container">
            <div class="row">
                <div class="offset-3 col-6">
                    <h1>Abernathy Clinic - Add note</h1>

                    <form method="post" th:action="@{|/${patientId}/notes/add|}" th:object="${noteDto}">
                    
                        <!-- Patient ID -->
                        <div class="mb-1">
                            <label for="patientId" class="form-label fw-bold">Patient ID :</label> <span th:text="${patientId}">EV50000</span>
                            <input th:field="*{patientId}" type="hidden" class="form-control" id="patientId" th:value="${patientId}">
                        </div>

                        <!-- Content -->
                        <div class="mb-3">
                            <label for="content" class="form-label fw-bold">Notes/Recommandations</label>
                            <textarea th:field="*{content}" class="form-control" id="content" rows="6"></textarea>
                            <small th:errors="*{content}" class="text-danger">Content validation error</small>
                        </div>

                        <input type="submit" class="btn btn-primary float-end" value="Add note to patient history">
                    
                    </form>
                </div>
            </div>

        </div>
    </body>
</html>