<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org">
    
    <head>
        <meta charset="utf-8"/>
        <title>Abernathy Clinic - Patient View</title>
        <link rel="stylesheet" type="text/css" href="../webjars/bootstrap/4.0.0-2/css/bootstrap.min.css"/>
        <script type="text/javascript" src="../webjars/bootstrap/4.0.0-2/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
      </head>
        
    <body>

        <div class="container">
            
            <h1>Abernathy Clinic - Patient View</h1>

            <div class="row">
                <div class="col-4">
                    <div class="card">
                        <h5 class="card-header">Patient Information</h5>
                        <div class="card-body">
                        
						  <!-- Patient information -->
                          <p class="card-text">
                            <span class="fw-bold">ID : </span><span th:text="${patient.id}">MV50540</span><br>
                            <span class="fw-bold">Name : </span><span th:text="${patient.firstName} + ' ' + ${patient.lastName}">Max Verstappen</span><br>
                            <span class="fw-bold">Birthdate : </span><span th:text="${patient.dateOfBirth}">1998-02-16</span><br>
                            <span class="fw-bold">Gender : </span>
                            	<span th:if="${patient.gender == 'M'}" th:text="Male">Male</span>
                            	<span th:if="${patient.gender == 'F'}" th:text="Female">Female</span>
                            <br><span class="fw-bold">Address : </span><span th:text="${patient.address}">123 Imaginary St.</span><br>
                            <span class="fw-bold">Phone : </span><span th:text="${patient.phone}">000-000-0000</span><br>
                          </p>
                          
                          <!-- Edit & Delete Buttons -->
                          <p class="float-end">
                            <a th:href="@{|../patient/update/${patient.id}|}" class="btn btn-primary">Edit</a>
                            <a th:href="@{|../patient/delete/${patient.id}|}" class="btn btn-danger">Delete</a>
                          </p>
                        </div>
                      </div>
                </div>

                <div class="col-8">
                    <div class="card">
                        <h5 class="card-header">Notes <span th:if="${hasNotes}" th:text="'(' + ${notesNumber} +')'">(1)</span></h5>
                        <div class="card-body">
                          <p class="card-text">  
                            
                            <!-- If patient doesn't have notes -->
                            <span th:if="${!hasNotes}">This patient doesn't have notes at the moment.</span>
  
                            <div th:if="${message}" class="alert alert-info" role="alert" th:text="${message}">
                              Note was successfully updated
                            </div>
                            
                            <!-- If patient has notes -->
                            <div class="card mb-2" th:if="${hasNotes}" th:each="note : ${notes}">
                              <div class="card-body">
                                <h5 th:text="${note.date}">25 nov. 2015</h5></span>
                                <span th:text="${note.content}">Practitioner's notes or recommandations</span>
                                <br>
                                <div class="row float-end">
                                  <div class="col">
                                  <a class="me-2" th:href="@{|/${patient.id}/notes/${note.id}/edit|}"><i class="bi bi-pencil"></i></a>
                                  <a th:href="@{|/${patient.id}/notes/${note.id}/delete|}" class="text-danger"><i class="bi bi-trash"></i></a>
                                  </div>
                                </div>
                              </div>
                            </div>

                          
                          </p>
                        </div>
                      </div>
                </div>
            </div>

        </div>
    </body>
</html>